		body{
			background-color: rgb(255, 255, 255);
			font-family: Arial,sans-serif;
		}

		p{
			font-size:18px;
			font-style: italic;
			color: darkblue;
		}
		
		h1{
			font-family:"Georgia", serif;
			text-align: center;
			color:red;
		}

		h2{
			color: darkgreen;
			text-decoration: underline;
		}

		h3{
			color:brown;
			font-style: italic;	
		}
		
		h4{
			color:rgb(174, 45, 45);
			
		}
		
		
		 a{
			background-color: darkred;
			color: white;
			padding:5px;
			margin:5;
			display: inline-block;
			text-decoration: none;
		}
		
		   a:hover {
            background-color:black;
        }

		
        main {
            flex: 1;
            padding: 20px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 15px;
            position: relative;
            bottom: 0;
            width: 100%;
        }
		
	header{
			display: block;
			padding: 50px;
			background-color: black;
			 text-align: center;
						}

		label{
			display:inline-block;
			width: 50%;
		}

		button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d18d00;
}

	img{
     		width:100;
		height:150;
		}
ol{
          background-color: rgb(247, 247, 247);
          color: rgb(0, 0, 0);
          padding: 20px 10px;
		  margin: 0;
            }

       li.container {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

        li.search-bar {
             padding: 20px 30px;
             border-radius: 7px;
             border: none;
             font-size: 20px;
			 
            }
